html {
    padding: 0%;
}


h1 {
    text-align: center;
    color: rgb(180, 167, 167);
    font-family: cursive;
    font-size: 4vw;
}

.title {
    background-color: green;
    height: 15vh;
    width: 100vw;
    margin-top: 0px;
}